@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.section1 {
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: row;
}

.inputColor {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.inputColor h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.inputColor button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: #b8e986;
}

.input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #c2c0cc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
